   /* Added Fonts */
   
   @font-face {
        font-family: metrobold;
        src: url("fonts/avenir-next-similar/metropolis/Metropolis-Bold.otf") format("opentype");
    } /* this essentially defines a new font family using custom fonts instead of the default options.*/  
    @font-face {
        font-family: 'CenturyGothicPaneuropeanBlack';
        src: url(fonts/CenturyGothicPaneuropeanBlack.ttf) format("opentype");
    } /* another custom font family */
    @font-face {
        font-family: karuextrabold;
        src: url("fonts/avenir-next-similar/karu-font-family/Karu Font Family/karu-extrabold.ttf") format("opentype");
    }

/*Header Design and Position*/

    .blueheader {
    background-color: #57b9ff; 
    height: 180px; /*how much vertical space is taken of course (by the blue thing)*/
    display: flex; /*the blue header is a flex box now. It changes size depending on whats inside it*/
    justify-content: left; 
    align-items: left;
    margin: 1vh; /* its a margin. 'vh' makes it uniform for all zoom levels */
    position: relative; 
}

/*Navbar Design and Position*/

.navbar {
    background-color: #57b9ff; 
    height: 20px; /*how much vertical space is taken of course (by the slim blue navbar)*/
    display: flex; /*the blue header is a flex box now. It changes size depending on whats inside it*/
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
    margin-right: -10px; /* so the thin blue nav bar takes up the whole horizontal space, clinging to each end of the page */
    margin-left: -10px; /* ditto */
    
}
.navbarbuttons {
    display: flex;
    align-items: center;
    gap: 30px; /* space buttons apart */
    margin-top: 5px; /* for some reason its not perfectly centered this should fix it */
    font-family: 'karuextrabold'; 
    font-size: 18px;
    color: white; /* white (crazy) */
    letter-spacing:1px
}

.navbarbuttons a:hover,
.navbarbuttons a:active,
.navbarbuttons a:visited,
.navbarbuttons a:link {
    color: white; /* navbar buttons are always white now. It's purple without this*/
    text-decoration:none; /* no underline on the link */
}

/*Shopping Cart Position and Size*/

.carticonlink {
    position: absolute;
    top: 30px; 
    right: 30px;
    text-decoration: none;
    z-index: 100;
}
.cart-image {
    width: 40px; 
    height: auto;
}


