   /* Added Fonts */
   
   @font-face {
        font-family: metrobold;
        src: url("fonts/avenir-next-similar/metropolis/Metropolis-Bold.otf") format("opentype");
    } /* this essentially defines a new font family using custom fonts instead of the default options.*/  
    @font-face {
        font-family: 'CenturyGothicPaneuropeanBlack';
        src: url(fonts/CenturyGothicPaneuropeanBlack.ttf) format("opentype");
    } /* another custom font family */
    @font-face {
        font-family: karuextrabold;
        src: url("fonts/avenir-next-similar/karu-font-family/Karu Font Family/karu-extrabold.ttf") format("opentype");
    }

/*Header*/

.blueheader {
    background-color: #57b9ff; 
    height: 180px; /*how much vertical space is taken of course (by the blue thing)*/
    display: flex; /*the blue header is a flex box now. It changes size depending on whats inside it*/
    justify-content: left; 
    align-items: left;
    margin: 1vh; /* its a margin. 'vh' makes it uniform for all zoom levels */
    position: relative; 
}
.searchbar {
    float: right;
    padding: 6px;
    border: none;
    align-items:right;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 100px;
    font-size: 14px;;
    width: 70vh;
}
.blueheader button {
    float: right;
    padding: 6px 10px;
    margin-top: 70px;
    margin-bottom: 70px;
    background: #004c9f;
    width:50px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: white;
}
.blueheader i { /*this is the search icon in the searchbar*/
    margin-top:2px;
}

/*Navbar Design and Position*/

.navbar {
    background-color: #57b9ff; 
    height: 20px; /*how much vertical space is taken of course (by the slim blue navbar)*/
    display: flex; /*the blue header is a flex box now. It changes size depending on whats inside it*/
    justify-content: center; 
    align-items: center;
    margin: 1vh;
    
}
.navbarbuttons {
    display: flex;
    align-items: center;
    gap: 30px; /* space buttons apart */
    margin-top: 4px; /* for some reason its not perfectly centered this should fix it */
    font-family: 'karuextrabold'; 
    font-size: 18px;
    color: white; /* white (crazy) */
    letter-spacing:1px
}

.navbarbuttons a:hover,
.navbarbuttons a:active,
.navbarbuttons a:visited,
.navbarbuttons a:link {
    color: white; /* navbar buttons are always white now. It's purple without this*/
    text-decoration:none; /* no underline on the link */
}

/*Shopping Cart Position and Size*/

.carticonlink {
    position: absolute;
    top: 30px; 
    right: 70px;
    text-decoration: none;
    z-index: 100;
}
.cart-image {
    width: 40px; 
    height: auto;
}

/* Shop Page Grid Styles */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    padding: 60px;
    max-width: 1600px;
    margin: auto;
  }

.item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

.item img {
    width: 100%;
    height: 100%;
    filter: brightness(65%);
  }


.label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.5px;
    font-family: 'karuextrabold'; 
  }














/* Shop Page Styles */

.shop {
    width: 90%;
    max-width: 1200px;
    margin: 12px auto;
}

.shopping {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.sort {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.product-space {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 50px;
}

.product-box {
    text-align: center;
}

.product-box img {
    width: 100%;
    height: 280px;
    object-fit: contain;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.price {
    margin: 5px 0 15px 0;
    font-size: 15px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 12px;
    font-size: 14px;
    background: white;
}


.add-cart {
    background-color: #57b9ff; 
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    cursor: pointer;
    font-weight: 600;
}

/*Borders for Body Sections*/


.outerborderbox {
    background-color: #57b9ff ;
    padding: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}
.innerborderbox {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}


.kosenpicturelocation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}


/* Content For About Us and Meet the Team Section*/
.blue-bg-round {
    background-color: #57B9FF;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    display: inline-block;
}


.about-title-wrapper h1,
.about-title-wrapper h2 {
    margin: 0;
    font-size: 2.5em;
    font-family: 'karuextrabold';
}


.missiontextstyle {
    font-size: 1.1em;
    line-height: 1.6;
    color: #57B9FF;
    margin-bottom: 25px;
    font-family: 'karuextrabold';
}


.teamsectionmargin {
    margin-top: 40px;
}
.teampicsgrid {
    display: flex;
    gap: 120px;
    margin-top: 20px;
}
.teammemberimg {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 60px;
}

